REDIS_HOST=redis
REDIS_PORT=6379
DATABASE_URL=postgresql://wisesur:wisesur123@postgres:5432/wisesur
R2_ACCESS_KEY_ID="4a3f708456b73d4932095dd08404ebf3"
R2_SECRET_ACCESS_KEY="cabb37ef34d72a0f9b6ed7b25d9ea39a6af2d28c88a81484bc7fa5586d960976"
R2_BUCKET=fleet-events
R2_ENDPOINT=https://your_account.r2.cloudflarestorage.com
YOLO_MODEL_PATH=/app/models/yolov8n.onnx
WORKER_CONCURRENCY=2